<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

<div
  #dialog
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
  class="slide-over-container fixed inset-y-0 right-0 flex max-w-full pl-10 z-50 pointer-events-none"
>
  <!-- Background backdrop, show/hide based on slide-over state. -->
  <div class="fixed inset-0"></div>

  <div class="fixed inset-0 overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div
        class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16"
      >
        <!--
            Slide-over panel, show/hide based on slide-over state.
  
            Entering: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-full"
              To: "translate-x-0"
            Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-0"
              To: "translate-x-full"
          -->
        <div
          #panel
          name="panel"
          class="pointer-events-auto w-screen max-w-2xl transform transition ease-in-out duration-500 sm:duration-700 translate-x-full"
        >
          <form
            class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl"
          >
            <div class="flex-1">
              <!-- Header -->
              <div class="bg-gray-50 px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between space-x-3">
                  <div class="space-y-1">
                    <h2
                      class="text-base font-semibold leading-6 text-gray-900"
                      id="slide-over-title"
                      *ngIf="slideFields$ | async as slideFields"
                    >
                      {{ slideFields.slideHeader }}
                    </h2>
                    <p
                      class="text-sm text-gray-500"
                      *ngIf="slideFields$ | async as slideFields"
                    >
                      {{ slideFields.slideDescription }}
                    </p>
                  </div>
                  <div class="flex h-7 items-center">
                    <button
                      type="button"
                      class="relative text-gray-400 hover:text-gray-500"
                      (click)="toggleSlideOver()"
                      (click)="clearPrioritySelection()"
                      (click)="clearInputFields()"
                    >
                      <span class="absolute -inset-2.5"></span>
                      <span class="sr-only">Close panel</span>
                      <svg
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Divider container -->
              <div
                class="space-y-6 py-6 sm:space-y-0 sm:divide-y sm:divide-gray-200 sm:py-0"
              >
                <!-- Project description -->
                <div
                  class="space-y-2 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <div>
                    <label
                      for="project-description"
                      class="block text-sm font-medium leading-6 text-gray-900 sm:mt-1.5"
                      >Description</label
                    >
                  </div>
                  <div class="sm:col-span-2">
                    <textarea
                      name="descriptionInput"
                      #descriptionInput
                      rows="3"
                      maxlength="500"
                      minlength="3"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                  </div>
                </div>

                <!-- Creation Date -->
                <div
                  class="space-y-2 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <!-- Creation Date -->
                  <div>
                    <label
                      for="project-description"
                      class="block text-sm font-medium leading-6 text-gray-900 sm:mt-1.5"
                      >Creation Date</label
                    >
                  </div>
                  <div class="grid grid-cols-3 gap-4 sm:col-span-2">
                    <textarea
                      #creationDateYear
                      name="creationDateYear"
                      rows="1"
                      style="resize: none; text-align: center"
                      placeholder="YYYY"
                      maxlength="4"
                      minlength="4"
                      class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                    <textarea
                      #creationDateMonth
                      name="creationDateMonth"
                      rows="1"
                      placeholder="MM"
                      maxlength="2"
                      minlength="2"
                      style="resize: none; text-align: center"
                      class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                    <textarea
                      #creationDateDay
                      name="creationDateDay"
                      rows="1"
                      style="resize: none; text-align: center"
                      placeholder="DD"
                      maxlength="2"
                      minlength="2"
                      class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                  </div>
                </div>
                <div
                  *ngIf="showAllOptions$ | async as showAllOptions"
                  class="space-y-2 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <!-- Completion Date -->
                  <div>
                    <label
                      for="project-description"
                      class="block text-sm font-medium leading-6 text-gray-900 sm:mt-1.5"
                      >Completion Date</label
                    >
                  </div>

                  <div class="grid grid-cols-3 gap-4 sm:col-span-2">
                    <textarea
                      #completionDateYear
                      name="completionDateYear"
                      rows="1"
                      style="resize: none; text-align: center"
                      placeholder="YYYY"
                      maxlength="4"
                      minlength="4"
                      class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                    <textarea
                      #completionDateMonth
                      name="completionDateMonth"
                      rows="1"
                      placeholder="MM"
                      maxlength="2"
                      minlength="2"
                      style="resize: none; text-align: center"
                      class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                    <textarea
                      #completionDateDay
                      name="completionDateDay"
                      rows="1"
                      style="resize: none; text-align: center"
                      placeholder="DD"
                      maxlength="2"
                      minlength="2"
                      class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    ></textarea>
                  </div>
                </div>
                <!-- Priority -->
                <fieldset
                  class="space-y-2 px-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
                >
                  <legend class="sr-only">Priority</legend>
                  <div
                    class="text-sm font-medium leading-6 text-gray-900"
                    aria-hidden="true"
                  >
                    Priority
                  </div>
                  <div class="space-y-5 sm:col-span-2">
                    <div class="space-y-5 sm:mt-0">
                      <div class="relative flex items-start">
                        <div class="absolute flex h-6 items-center">
                          <input
                            #highPriorityRadioButton
                            id="public-access"
                            name="privacy"
                            aria-describedby="public-access-description"
                            type="radio"
                            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                          />
                        </div>
                        <div class="pl-7 text-sm leading-6">
                          <label
                            for="public-access"
                            class="font-medium text-gray-900"
                            >high</label
                          >
                        </div>
                      </div>
                      <div class="relative flex items-start">
                        <div class="absolute flex h-6 items-center">
                          <input
                            #mediumPriorityRadioButton
                            id="restricted-access"
                            name="privacy"
                            aria-describedby="restricted-access-description"
                            type="radio"
                            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                          />
                        </div>
                        <div class="pl-7 text-sm leading-6">
                          <label
                            for="restricted-access"
                            class="font-medium text-gray-900"
                            >medium</label
                          >
                        </div>
                      </div>
                      <div class="relative flex items-start">
                        <div class="absolute flex h-6 items-center">
                          <input
                            #lowPriorityRadioButton
                            id="low-access"
                            name="privacy"
                            aria-describedby="low-access-description"
                            type="radio"
                            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                          />
                        </div>
                        <div class="pl-7 text-sm leading-6">
                          <label
                            for="low-access"
                            class="font-medium text-gray-900"
                            >low</label
                          >
                        </div>
                      </div>
                      <div class="relative flex items-start">
                        <div class="absolute flex h-6 items-center">
                          <input
                            id="none-access"
                            #nonePriorityRadioButton
                            name="privacy"
                            aria-describedby="none-access-description"
                            type="radio"
                            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600"
                            checked
                          />
                        </div>
                        <div class="pl-7 text-sm leading-6">
                          <label
                            for="none-access"
                            class="font-medium text-gray-900"
                            >none</label
                          >
                        </div>
                      </div>
                    </div>
                    <hr class="border-gray-200" />
                  </div>
                </fieldset>
              </div>
            </div>

            <!-- Completed-->
            <div
              *ngIf="showAllOptions$ | async as showAllOptions"
              class="space-y-2 px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 sm:px-6 sm:py-5"
            >
              <div>
                <label
                  for="project-description"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Completed</label
                >
              </div>
              <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
              <div class="flex items-center">
                <button
                  type="button"
                  class="bg-gray-200 relative mb-1 inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2"
                  role="switch"
                  [ngClass]="{
                    'bg-indigo-600': active, 
                    'bg-gray': !active, 
                  }"
                  (click)="changeStatus()"
                >
                  <!-- Aktiviert: "translate-x-5", Deaktiviert: "translate-x-0" -->
                  <span
                    aria-hidden="true"
                    [ngClass]="{
                      'translate-x-5': active,
                      'translate-x-0': !active
                    }"
                    class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
                  ></span>
                </button>
              </div>
            </div>

            <!-- Action buttons -->
            <div
              class="flex-shrink-0 border-t border-gray-200 px-4 py-5 sm:px-6"
            >
              <div class="flex justify-end space-x-3">
                <button
                  type="button"
                  (click)="clearPrioritySelection()"
                  (click)="clearInputFields()"
                  (click)="toggleSlideOver()"
                  class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                >
                  Delete Task
                </button>
                <button
                  type="button"
                  (click)="clearPrioritySelection()"
                  (click)="clearInputFields()"
                  (click)="toggleSlideOver()"
                  class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                >
                  Cancel
                </button>
                <button
                  (click)="clearInputFields()"
                  (click)="clearPrioritySelection()"
                  type="button"
                  class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                >
                  Clear
                </button>
                <button
                  *ngIf="slideFields$ | async as slideFields"
                  type="submit"
                  (click)="slideFields ? updateTask() : null"
                  class="inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                  {{ slideFields.slideButton }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
